.flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-click {
   
    padding: 15px 20px;
    color: white;
    background-color: rgb(197, 7, 7);
    border: 2px solid slategray;
    border-radius: 7px;
    cursor: pointer;
}

.btn-click:hover {
    /* font-weight: bolder; */
    color: black;
    background-color: rgb(83, 100, 117);
  
}

.my-1 {
    margin: 5px 0;
}

.my-2 {
    margin: 26px 0;
}

.text-cent {
    text-align: center;
}